.content{
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
}


.cont1{
    width: 396px;
    height: 240px;
    
}
.cont1 h1{

    margin-bottom: 20px;
    font-size: 28px;
    color: rgba(34, 53, 111, 1);
}
.cont1 p{
    width: 298px;
    height: 84px;
    font-size: 16px;
    color:  rgba(34, 53, 111, 0.5);
    
}