.card{
   text-align: center;
}
.block{
    display: flex;
    justify-content: space-around;
}
.text1{
    font-size: 72px;
    color: black;
    margin-top: 100px;
}
.text2{
    font-size: 32px;
    line-height: 33px;
    color:  rgba(79, 79, 79, 1);
    
}
.block a{
    margin-top: 100px;
    font-size: 24px;
    line-height: 25px;
    color: rgba(26, 188, 254, 1);
    margin-bottom: 150px;
}
.text3{
  
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color:  rgba(105, 105, 105, 1);
    
}